{:paths ["src" "resources" "src/vushu/views"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        ring/ring {:mvn/version "1.9.3"}
        metosin/reitit {:mvn/version "0.5.13"}
        metosin/muuntaja {:mvn/version "0.6.8"}
        nrepl/nrepl {:mvn/version "0.8.3"}
        cider/nrepl {:mvn/version "0.3.0"}
        cider/cider-nrepl {:mvn/version "0.26.0"}
        com.bhauman/rebel-readline {:mvn/version "0.1.4"}
        hiccup/hiccup {:mvn/version "1.0.5"}
        buddy/buddy-auth {:mvn/version "3.0.1"}
        buddy/buddy-hashers {:mvn/version "1.8.1"}
        cljc.java-time/cljc.java-time {:mvn/version "0.1.16"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.2.689"}
        com.github.seancorfield/honeysql {:mvn/version "2.0.783"}
        org.postgresql/postgresql {:mvn/version "42.2.22"}
        heroku-database-url-to-jdbc/heroku-database-url-to-jdbc {:mvn/version "0.2.2"}

        }
 :aliases
 {
  :run-m {:main-opts ["-m" "vushu.myapp"]}
  :repl {:main-opts ["-m" "vushu.repl"]}

  :run-x {:ns-default vushu.myapp
          :exec-fn greet
          :exec-args {:name "Clojure"}}

  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}}}
  :runner
  {:extra-deps {io.github.cognitect-labs/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "2d69f33d7980c3353b246c28f72ffeafbd9f2fab"}}
   :exec-fn cognitect.test-runner.api/test}
  :uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.216"}}
            :exec-fn hf.depstar/uberjar
            :exec-args {:aot true
                        :jar "myapp.jar"
                        :main-class "vushu.myapp"
                        :sync-pom true}}
  :cider-clj {:extra-deps {cider/cider-nrepl {:mvn/version "0.22.4"}}
              :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}

  :cider-cljs {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.339"}
                            cider/cider-nrepl {:mvn/version "0.22.4"}
                            cider/piggieback {:mvn/version "0.5.1"}}
               :main-opts ["-m" "nrepl.cmdline" "--middleware"
                           "[cider.nrepl/cider-middleware,cider.piggieback/wrap-cljs-repl]"]}
  }}
